.contact {
    width: 100%;
    height: min(max-content, calc(100vh - 70px));
    background: #F2F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
padding-bottom: 4rem;
    color: #1B2D45;
}

.contact h1 {
    margin: 1rem 0;

}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mapHolder{
    width: 100%;
}
.right{
    width: 48%;
    aspect-ratio: 1/0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
}
.right div{
    display: flex;
    justify-items: center;
    width: 100%;
    position: relative;
}
.right svg{
    font-size: 2rem !important;
    width: 2.5rem;
    position: relative;
    top: 6px;
}
.right h3{
    margin: 10px;
    width: 95%;
    font-weight: 500;
}



@media screen and (max-width: 96em) {}

@media screen and (max-width: 64em) {}

@media screen and (max-width: 48em) {
    .box{
        flex-direction: column;
    }
    .left,.right{
        width: 85%;
    }
    .right{
        order: 0;
    }
    .left{
        order: 1;
    }
}

@media screen and (max-width: 32em) {}