.about {
    width: 100%;
    min-height: 50vh;
    max-height: max-content;
    background: #F2F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    text-align: right;

    color: #1B2D45;
}

.about h1 {
    margin-top: 0;
    margin-bottom: 1rem;

}

.content {
    width: 65%;
    order: 1;
}



.box {
    min-height: 45vh;
    max-height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    order: 2;
}

.contentholder {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    width: 15rem;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 96em) {}

@media screen and (max-width: 64em) {}

@media screen and (max-height: 48em) {
    .about{
        padding: 20px;
    }
}

@media screen and (max-width: 48em) {
    .box {
        align-items: center;
    }

    .box h1{
        margin-bottom: 0rem;
    }

    .contentholder {
        flex-direction: column;
        padding-top: 1rem !important;
    }

    .content {
        order: 0;
        width: 80%;
        text-align: center;
        margin: 1rem 0 2rem 0;
        box-sizing: border-box;
    }

    .box img {
        width: 10rem;
    }
}

@media screen and (max-width: 32em) {
    .about h1 {
            font-size: 1.3rem;
        }
}