.main {
    width: 100%;
    min-height: calc(100vh - 100px);
    max-height: max-content;
    background: #F2F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    overflow: hidden;
    color: #1B2D45;
}

.content {
    width: 50%;
    order: 0;
}



.box {
    max-height: max-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    order: 2;
}

.contentholder {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.content h3 {
    margin: 2.5rem 0;
    font-size: 1.3rem;
}

.imgbox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3.16692px solid #FF5470;
    border-radius: 365.166px 166.473px 447.508px;
    transform: rotate(-13.16deg);
    overflow: hidden;
}

.btn {
    height: 45px;
    padding: 5px 32px;
    background: #00EBC7;
    border-radius: 23.5965px;
    color: var(--black);
}

.imgbox img {
    object-fit: contain;
    width: 50% !important;
    height: 95% !important;
    transform: rotate(13.16deg);
}


@media screen and (max-width: 96em) {}

@media screen and (max-height: 48em) {
    
}

@media screen and (max-width: 48em) {
    .main{
        display: block;
    }
    .contentholder{
        min-height: 85vh;
        justify-content: space-evenly;
    }
    .box {
        align-items: center;
    }

    .box h1 {
        margin-bottom: 0rem;
    }

    .contentholder {
        flex-direction: column;
        padding-top: 1rem !important;
    }

    .content {
        order: 0;
        width: 80%;
        text-align: center;
        margin: 2rem 0;
        box-sizing: border-box;
    }

    .box img {
        width: 10rem;
    }
}

@media screen and (max-width: 32em) {
    .main {
            min-height: calc(100vh - 100px);
        }
    .box h1 {
        margin: 0px 0;
        font-size: 1.5rem;
    }

    .content h3 {
        margin: 15px 0;
        font-size: 1.15rem;
    }

    .imgbox {
        width: 75%;
    }

    .box img {
        width: 15rem;
    }
}
