
.events {
    width: 100%;
    min-height: 70vh;
    max-height: max-content;
    background: #F2F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    overflow: hidden;
    color: #1B2D45;
    padding: 2rem;
    text-align: right;
}

.events h1 {
    margin: 2rem 0;
}



.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.big {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 95%;
    aspect-ratio: 1/1.375;

}

.small {
    width: 95%;
    aspect-ratio: 1/1;
    margin: 10px;
    display: flex;
    align-items: center;
}
.viewmore{
    width: 95%;
    margin: 10px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    z-index: 3;
cursor: pointer;
transition: 0.2s ease-in-out;

    
}
.more{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 5;
    align-items: center;
    justify-content: center;
    color: #F2F4F6;
    transition: 0.2s ease-in-out;
}
.more h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewmore:hover .more h2{
    color: rgb(223, 202, 243);
}
.viewmore::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    background-image: url('https://live.staticflickr.com/65535/52734007300_0a033aa476_b.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 96em) {}

@media screen and (max-width: 64em) {
    .box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .big {
        display: none;
    }
}

@media screen and (max-width: 48em) {
    
    .box {
        align-items: center;
        grid-template-columns: 1fr;
    }
    .small{
        max-width: 80%;
    }



}

@media screen and (max-width: 32em) {
    .events h1 {
            font-size: 1.3rem;
        }
}